@import "variables";

.nav-menu {
  background-color: #f4f4f4;
}
.nav-links {
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  li {
    margin: 0;
  }
  li a {
    text-decoration: none;
    padding: 20px;
    line-height: 60px;
    color: $thirdC;
    font-weight: bold;
  }
}
