@import "variables";
.logo {
  padding-top: 3px;
  float: left;
  z-index: 2;
  img {
    width: 92px;
    height: 60px;
  }
}

.nav-menu {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1.0875rem;
}
.nav-menu {
  width: 100%;
  z-index: 3;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    li {
      margin: 0;
      padding: 0;
      a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: $thirdC;
        font-size: 2em;
        font-weight: bold;
      }
      a:hover {
        background-color: #ddd;
      }
    }
  }
  .nav-links {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .menu-icon {
    padding: 18px 10px;
    background: $firstC;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(127, 127, 127, 0.5);

    margin: 14px 0;
    position: relative;
    float: right;
    cursor: pointer;
    .nav-icon {
      background: $thirdC;
      display: block;
      height: 2px;
      width: 18px;
      position: relative;
      transition: background 0.2s ease-out;
    }
    .nav-icon:before {
      background: $thirdC;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      top: 5px;
    }
    .nav-icon:after {
      background: $thirdC;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      top: -5px;
    }
  }
  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .nav-links {
    max-height: 90vh;
  }
  .menu-btn:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
  }
  .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon .nav-icon:after {
    top: 0;
    transform: rotate(45deg);
  }
}

@media (min-width: 768px) {
  .logo {
    position: absolute;
    z-index: 2;
    img {
      width: 160px;
      height: 103.6px;
    }
  }
  .nav-bar {
    height: 66px;
  }
  .nav-menu {
    ul {
      li {
        float: left;
        a {
          font-size: 1.1em;
          padding: 20px 30px;
        }
      }
    }
    .nav-links {
      clear: none;
      display: flex;
      justify-content: flex-end;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
}
