@import "navbar", "projects", "variables";
* {
  font-family: $font-stack !important;
}
body {
  background: $firstC;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: $secondC;
  border-radius: 6px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198);
}
.main {
  margin: 0 auto;
  max-width: 1440px;
  padding: 67px 1.0875rem 1.45rem;
  h1 {
    text-align: center;
  }
}

.footer {
  width: 100%;
  text-align: center;
  line-height: 30px;
  p {
    margin: 0;
  }
}
@media (min-width: 768px) {
}
