@import "navbar", "home", "projects", "variables", "contact", "about";
* {
  font-family: $font-stack;
  color: white;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

body {
  background: $Color2;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: $Color1;
  border-radius: 6px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198);
}
