@import "navbar", "home", "projects", "variables", "contact", "about";
* {
  font-family: $font-stack;
  color: white;
}
body {
  background: $Color2;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: $Color1;
  border-radius: 6px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198);
}

.footer {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  line-height: 30px;
  p {
    margin: 0;
  }
}
@media (min-width: 768px) {
}
